.form-container {
  height: 100vh;
  display: table;
  margin: auto;
  max-width: 480px;
  width: 100%;

  form {
    display: table-cell;
    vertical-align: middle;

    fieldset {
      border: 1px solid white;
      border-radius: 10px;
    }
  }
}
